.main {
    width: 600px;
    height: 912px;
    background: #131316;
    overflow: hidden;
    margin-top: 80px;
}

.container {
    display: flex;
}

.goodTitle {
    height: 48px;
}

.goodPriceContainer {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 28px;
    vertical-align: center;
}
.ordersContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    vertical-align: center;
}

.list {
    height: 700px;
    overflow: auto;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    flex-flow: row wrap
}

.item {
    width: 272px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.typeTitle {
    width: 100%;
}


.ordersBlock {
    width: 100%;
}

.ordersListContainer  {
    height: 206px;
}
.ordersListContainer li {
    width: 50%;
    float: left;}