.main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    z-index: 999;
}

.index {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: center
}

.section {
    max-width: 1280px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.input {
    width: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}


.profileForm {
    width: 100%;
    align-items: center;

}

.feedList {
    width: 100%;
    align-items: center;

}

.mainFeed {
    width: 600px;
    height: 912px;
    background: #131316;
    overflow: hidden;
}