@import '~@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
@import '~@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
@import '~@ya.praktikum/react-developer-burger-ui-components/dist/ui/fonts/fonts.css';

ul {
    list-style-type: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}